<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/listarNinjas.css}" />
    <title>Tabela de Ninjas</title>
</head>

<body>

<h1>LISTA DE NINJAS</h1>
<div th:if="${mensagem}" class="mensagem-erro" th:text="${mensagem}"></div>
<a class="btn-adicionar" th:href="@{/ninjas/ui/adicionar}">Adicionar Novo Ninja</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>IMAGEM</th>
        <th>NOME</th>
        <th>IDADE</th>
        <th>EMAIL</th>
        <th>RANK</th>
        <th>ID MISSOES</th>
        <th>MISSOES</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="ninja: ${ninjas}">
        <td th:text="${ninja.id}"> </td>
        <td><img th:src="${ninja.imgUrl}"></td>
        <td th:text="${ninja.nome}"> </td>
        <td th:text="${ninja.idade}"> </td>
        <td th:text="${ninja.email}"> </td>
        <td th:text="${ninja.rank}"> </td>
        <td th:if="${ninja.missoes != null}" th:text="${ninja.missoes.id}"> </td>
        <td th:if="${ninja.missoes != null}" th:text="${ninja.missoes.nome}"> </td>
        <td th:if="${ninja.missoes == null}" colspan="2">Sem Missão</td>

        <td>
            <span th:if="${ninja.missoes}"><span th:text="${ninja.missoes.nome}"></span>, Dificuldade: <span th:text="${ninja.missoes.rank}"></span></span>
            <span th:if="${ninja.missoes == null}">Sem Missões cadastradas para o ninja</span>
        </td>

        <td>
            <a th:href="@{/ninjas/ui/listar/{id}(id=${ninja.id})}">VER DETALHES</a>
            <a class="btn-desativado">ALTERAR</a>
            <a th:href="@{/ninjas/ui/deletar/{id}(id=${ninja.id})}">DELETAR</a>
        </td>


    </tr>
    </tbody>


</table>

</body>
</html>